$base-color: #e53b6a;
$secondary-color:#5ea9dd;
$font-color:rgb(20, 20, 20);
$main-font:'Krub', sans-serif;

body{
    background-color: #ebe8e83d;
    margin: 25px;
}
.bold{
    color: $base-color;
}
.big{
    font-size: 2.5em !important;
}
header{
    height: fit-content;
    margin: 0 25px;
    .header--nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10vh;
        .header--nav__logo{
            text-decoration: none;
            .header--nav__logo--title{
                font-family: 'Audiowide', cursive;            
                font-size: 2em;
                color: $font-color;
            }
            &:hover .header--nav__logo--title{
                color:$base-color;
                transition:0.5s ease all;
            }

        }
        .header--nav__links {
            height: 10vh !important;
            display: flex;
            align-items: center;
            z-index: 1;
            a {
                display: flex;
                align-items: center;               
                height: 10vh !important;
                text-decoration: none;
                padding: 0 15px;
                font-family: 'Krub', sans-serif;
                font-weight: bolder;
                color: $font-color;
                font-size: 1.2em;
                text-transform: uppercase;
                opacity: 0;
                position: relative;
                top: 30px;
            }
            a:hover {
                background-color: $base-color;
                color: white;
                transition: 0.3s ease all;
            }
           
        }
    }
    
    .header--content{
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: -1;
        .header--content__img {
            flex: 2;
            display: flex;
            overflow: hidden;
            
            img{
                display: flex;
                width: 100%;
                margin: 0 auto;
                max-width: 666px;
                opacity: 0;
            }
        }
        .header--content__desc {
            flex: 2;
            padding: 15px;
            position: relative;
            top: -55px;
            opacity:0;
            
            
            .header--content__desc--title{
                text-align: center;
                font-family: 'Audiowide', cursive;    
                font-size: 7em;        
                color: $font-color;
            }
            .header--content__desc--container{
                position: relative;
                top: -66px;
                width: 500px;
                margin: 0 auto;
                .header--content__desc--subtitle{
                    font-family: 'Krub', sans-serif;
                    font-size: 1.3em;
                }
            }
            .header--content__button--container{
                display: flex;
                flex-direction: column;
                position: relative;
                top:-50px;
                .register--button{
                    text-align: center;
                }
                button {
                    font-family: 'Krub', sans-serif;
                    background: none;
                    border: none;
                    cursor: pointer;
                    letter-spacing: 0.2rem;
                    text-transform: uppercase;
                }
                button:focus {
                    outline: none;
                } 
                .draw-border {
                    box-shadow: inset 0 0 0 4px $secondary-color;
                    color: $font-color;
                    font-weight: bolder;
                    font-size: 1.2em;
                    background-color: rgba(0, 4, 255, 0.034);
                    transition: color 0.25s 0.0833333333s;
                    position: relative;
                    margin: 15px auto;
                    max-width: 69%;
                    height: 70px;
                    width: 88%;
                }  
                .draw-border::before,
                .draw-border::after {
                border: 0 solid transparent;
                box-sizing: border-box;
                content: "";
                pointer-events: none;
                position: absolute;
                width: 0;
                height: 0;
                bottom: 0;
                right: 0;
                }

                .draw-border::before {
                border-bottom-width: 5px;
                border-left-width: 5px;
                }

                .draw-border::after {
                border-top-width: 5px;
                border-right-width: 5px;
                }

                .draw-border:hover {
                color: $base-color;
                background-color: #e53b6b36;
                }

                .draw-border:hover::before,
                .draw-border:hover::after {
                border-color: $base-color;
                transition: border-color 0s, width 0.25s, height 0.25s;
                width: 100%;
                height: 100%;
                }

                .draw-border:hover::before {
                transition-delay: 0s, 0s, 0.25s;
                }

                .draw-border:hover::after {
                transition-delay: 0s, 0.25s, 0s;
                }
            }
        }
    }
}

.how{
    height: fit-content;
    display: flex;
    font-family: 'Krub', sans-serif;
    margin-top: 69px;

    .how--container{
        display: flex;
        flex-direction: column;
        .how--container__three{
            border-bottom: none !important;
        }
        .how--conatiner__unit{
            position: relative;
            padding: 45px;
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            border-bottom: 1px solid $font-color;
            margin: 0 20px;

            .how--sub__unit{
                height: 400px;
                flex: 3;
                padding-bottom: 15px;
                img{
                    max-width: 100%;
                    height: 100%;
  
                }
            }
            .move--right{
                position: relative;
                right: -50px;
            }
            .move--left{
                position: relative;
                left: -50px;
            }
            .how--sub__2{
                align-items: center;
                justify-content: center;
                display: flex;
                border: 5px solid $base-color;
                border-radius: 5%;
            }
            .num--container{
                display: flex;
                position: relative;
                align-items: flex-end;
                overflow: hidden; 
                .num{
                    font-size: 18em;
                    margin: 0;
                    opacity:0;
                    position: relative;
                    top: 300px;

                }
                .num2, .num3, .num4, .num5, .num6{
                    opacity:0;
                    position: relative;
                    bottom: -50px;
                }

            }
            .right{
                justify-content:flex-end;
            }
            .desc--container--left{
                display: flex;
                flex-direction: column;
                position: relative;
                text-align: right;
                .desc{
                    width: 100% !important;
                }
                
                p{
                    text-align: right;
                    width: 100%;
                }
            }
            .desc--container{
                display: flex;
                flex-direction: column;
                position: relative;
               // align-items: center;
                justify-content: center;
                button {
                    font-family: 'Krub', sans-serif;
                    background: none;
                    border: none;
                    cursor: pointer;
                    letter-spacing: 0.2rem;
                    text-transform: uppercase;
                }
                button:focus {
                    outline: none;
                } 
                .draw-border {
                    box-shadow: inset 0 0 0 4px $secondary-color;
                    color: $font-color;
                    font-weight: bolder;
                    font-size: 1.2em;
                    background-color: rgba(0, 4, 255, 0.034);
                    transition: color 0.25s 0.0833333333s;
                    position: relative;
                    margin: 15px auto;
                    max-width: 69%;
                    height: 55px;
                    width: 75%;
                    
                }  
                .draw-border::before,
                .draw-border::after {
                border: 0 solid transparent;
                box-sizing: border-box;
                content: "";
                pointer-events: none;
                position: absolute;
                width: 0;
                height: 0;
                bottom: 0;
                right: 0;
                }

                .draw-border::before {
                border-bottom-width: 5px;
                border-left-width: 5px;
                }

                .draw-border::after {
                border-top-width: 5px;
                border-right-width: 5px;
                }

                .draw-border:hover {
                color: $base-color;
                background-color: #e53b6b36;
                }

                .draw-border:hover::before,
                .draw-border:hover::after {
                border-color: $base-color;
                transition: border-color 0s, width 0.25s, height 0.25s;
                width: 100%;
                height: 100%;
                }

                .draw-border:hover::before {
                transition-delay: 0s, 0s, 0.25s;
                }

                .draw-border:hover::after {
                transition-delay: 0s, 0.25s, 0s;
                }
            
        
    
                .desc{                  
                    margin: 0;
                    position: relative;
                    font-size: 1.3em;
                    line-height: 2em;
                    width: 69%;
                    
                }
                .desc--title{
                    font-size: 2.5em;
                    text-transform: uppercase;
                    font-weight:bolder;
                    position: relative;
                    top: 30px;
                }
                .abra{
                    overflow: hidden;
                    height:80px;
                }
                .kadabra{
                    overflow: hidden;
                    height:250px;
                }
                .up1, .up2, .up3{
                    top: 50px; 
                    opacity: 0;
                }
            }
        }
    }
}

.video{
    margin-top: 10em;
    padding: 25px;
    .video__container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        font-family: $main-font;

        .video__container--video{
            display: flex;
            flex-direction: column;
            flex-basis: 100%;
            flex: 2;
            overflow: hidden;
          
        }
        .video__container--text{
            display: flex;
            flex-direction: column;
            flex-basis: 100%;
            flex: 2;
            text-align: right;
            margin: 0 auto;
            justify-content: center;
            align-items: center;
           
            .video__container--text--second{
                height: 69%;
                width: 69%;
                .abra{
                    overflow: hidden;
                }
                .kadabra--2{
                    position: relative;
                    top:50px;
                    opacity: 0;
                }
                h2{
                    margin: 0 auto;
                    font-size: 2.6em;
                    padding-bottom: 25px;
                    position: relative;
                    top: 125px;
                    
                }
                p{
                    margin: 0 auto;
                    font-size: 1.4em;
                    line-height: 2em;
            
    
                }
                button {
                    font-family: 'Krub', sans-serif;
                    background: none;
                    border: none;
                    cursor: pointer;
                    letter-spacing: 0.2rem;
                    text-transform: uppercase;
                  
                }
                button:focus {
                    outline: none;
                } 
                .draw-border {
                    box-shadow: inset 0 0 0 4px $secondary-color;
                    color: $font-color;
                    font-weight: bolder;
                    font-size: 1.2em;
                    background-color: rgba(0, 4, 255, 0.034);
                    transition: color 0.25s 0.0833333333s;
                    position: relative;
                    margin: 15px auto;
                    max-width: 69%;
                    height: 55px;
                    width: 75%;
                    
                }  
                .draw-border::before,
                .draw-border::after {
                border: 0 solid transparent;
                box-sizing: border-box;
                content: "";
                pointer-events: none;
                position: absolute;
                width: 0;
                height: 0;
                bottom: 0;
                right: 0;
                }
    
                .draw-border::before {
                border-bottom-width: 5px;
                border-left-width: 5px;
                }
    
                .draw-border::after {
                border-top-width: 5px;
                border-right-width: 5px;
                }
    
                .draw-border:hover {
                color: $base-color;
                background-color: #e53b6b36;
                }
    
                .draw-border:hover::before,
                .draw-border:hover::after {
                border-color: $base-color;
                transition: border-color 0s, width 0.25s, height 0.25s;
                width: 100%;
                height: 100%;
                }
    
                .draw-border:hover::before {
                transition-delay: 0s, 0s, 0.25s;
                }
    
                .draw-border:hover::after {
                transition-delay: 0s, 0.25s, 0s;
                }
            }
            
          
        }
    }
    .product__container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        font-family: $main-font;
        margin-top:5em;
        .product__container--product{
            display: flex;
            flex-direction: column;
            flex-basis: 100%;
            flex: 2;
            overflow: hidden;
        }
        .product__container--text{
            display: flex;
            flex-direction: column;
            flex-basis: 100%;
            flex: 2;
            text-align: left;
            justify-content: center;
            align-items: center;
            .product__container--text--second{
                height: 69%;
                width: 69%;
                .abra{
                   overflow: hidden;
                } 
                .kadabra--3{
                    position: relative;
                    top: 50px;
                    opacity: 0;
                }
                h2{
                    margin: 0 auto;
                    font-size: 2.6em;
                    padding-bottom: 25px;
                    position: relative;
                    top:125px;
                }
                p{
                    margin: 0 auto;
                    font-size: 1.4em;
                    line-height: 2em;
    
                }
                button {
                    font-family: 'Krub', sans-serif;
                    background: none;
                    border: none;
                    cursor: pointer;
                    letter-spacing: 0.2rem;
                    text-transform: uppercase;
                }
                button:focus {
                    outline: none;
                } 
                .draw-border {
                    box-shadow: inset 0 0 0 4px $secondary-color;
                    color: $font-color;
                    font-weight: bolder;
                    font-size: 1.2em;
                    background-color: rgba(0, 4, 255, 0.034);
                    transition: color 0.25s 0.0833333333s;
                    position: relative;
                    margin: 15px auto;
                    max-width: 69%;
                    height: 55px;
                    width: 75%;
                    
                }  
                .draw-border::before,
                .draw-border::after {
                border: 0 solid transparent;
                box-sizing: border-box;
                content: "";
                pointer-events: none;
                position: absolute;
                width: 0;
                height: 0;
                bottom: 0;
                right: 0;
                }
    
                .draw-border::before {
                border-bottom-width: 5px;
                border-left-width: 5px;
                }
    
                .draw-border::after {
                border-top-width: 5px;
                border-right-width: 5px;
                }
    
                .draw-border:hover {
                color: $base-color;
                background-color: #e53b6b36;
                }
    
                .draw-border:hover::before,
                .draw-border:hover::after {
                border-color: $base-color;
                transition: border-color 0s, width 0.25s, height 0.25s;
                width: 100%;
                height: 100%;
                }
    
                .draw-border:hover::before {
                transition-delay: 0s, 0s, 0.25s;
                }
    
                .draw-border:hover::after {
                transition-delay: 0s, 0.25s, 0s;
                }
            }
        }
        
    }
}
.form--2{
    height: 74vh !important;
    margin-top: 45px !important;
    opacity: 0 ;
    position: relative;
    top: 50px;
}
.form{
    font-family: $main-font;
    background-color: #99c5e8a6;
    margin: 100px 25px;
    padding: 15px;
    height: 58vh;
    display:flex;
    align-items: center;
    justify-content: center;
    
    .form__container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        
        .column {
            display: flex;
            flex-direction: column;
            flex-basis: 100%;
            flex: 1;
            .column--second{
                width: 88%;
                margin: 0 auto;
                .register--h2{
                    font-size: 5em;
                }
                h2{
                    margin: 0 auto;
                    font-size: 2.6em;
                    padding-bottom: 25px;
                    text-align: right;
                }
                p{
                    margin: 0 auto;
                    font-size: 1.4em;
                    line-height: 2em;
                    text-align: right;
                    
    
                }
            }
            .form__container--form--second {
                display: flex;
                flex-direction: column;
                width: 69%;
                input{
                    border: none;
                    height: 55px;
                    width: 88%;
                    margin: 15px 0;
                    font-size: 1.1em;
                    font-family: $main-font;
                    padding-left: 10px;
                }
                input:focus {
                    outline: none !important;
                    border:3px solid $base-color;
                    box-shadow: 0 0 10px #719ECE;
                }
                
                button {
                    font-family: 'Krub', sans-serif;
                    border: none;
                    cursor: pointer;
                    letter-spacing: 0.2rem;
                    text-transform: uppercase;
        
                }
                button:focus {
                    outline: none;
                } 
                .draw-border {
                    box-shadow: inset 0 0 0 4px $secondary-color;
                    color: $font-color;
                    font-weight: bolder;
                    font-size: 1.2em;
                    background-color: rgba(0, 4, 255, 0.034);
                    transition: color 0.25s 0.0833333333s;
                    position: relative;
                    margin: 15px 0;
                    max-width: 44%;
                    height: 55px;
                    width: 75%;
                    
                }  
                .draw-border::before,
                .draw-border::after {
                border: 0 solid transparent;
                box-sizing: border-box;
                content: "";
                pointer-events: none;
                position: absolute;
                width: 0;
                height: 0;
                bottom: 0;
                right: 0;
                }
    
                .draw-border::before {
                border-bottom-width: 5px;
                border-left-width: 5px;
                }
    
                .draw-border::after {
                border-top-width: 5px;
                border-right-width: 5px;
                }
    
                .draw-border:hover {
                color: $base-color;
                background-color: #e53b6b36;
                }
    
                .draw-border:hover::before,
                .draw-border:hover::after {
                border-color: $base-color;
                transition: border-color 0s, width 0.25s, height 0.25s;
                width: 100%;
                height: 100%;
                }
    
                .draw-border:hover::before {
                transition-delay: 0s, 0s, 0.25s;
                }
    
                .draw-border:hover::after {
                transition-delay: 0s, 0.25s, 0s;
                }
            }
            
        }
    }
}



.price{
    display:flex;
    justify-content: space-around;
    margin-top: 4em;
    font-family: $main-font;
    
   
    .price__free{
        display: flex;
        flex: 2;
        height: 80vh;
        justify-content: center;
        align-items: center;
        
    }
    .price__pro{
        display: flex;
        flex: 2;
        height: 80vh;
       
 
        .pro{
            display: flex;
            margin-top: 0 !important;
            button{
                max-width:100%;
            }
        
            .pro--one{
                flex:2;
                a{
                    padding: 0 20px;
                }
                p{
                    font-size: 1.1em;
                    font-weight: bolder;
                    position: relative;
                    top: 15px;
                }
               
            }
            .pro--two{
                flex:2;
                a{
                    padding: 0 20px;
                }
                .bold{
                    font-weight: bolder;
                    position: relative;
                    top: -25px;
                }
                p{
                    font-size: 1.1em;
                    font-weight: bolder;
                    position: relative;
                    top: 15px;
                }
            
            }
        }


    

    }
    .price--container-one{
        background-color: #5ea9dd36;
        position: relative;
        top: 50px;
        opacity: 0;
    }
    .price--container-two{
        background-color: #e53b6a14;
        position: relative;
        top: 50px;
        opacity: 0;

    }
    .price--container{
        width: 89%;
        height: 100%;
        ul {
            list-style-type: none;
            
            li{
                line-height: 2.2em;
                font-size: 1.12em;
            }
            i {
                color: rgb(30, 167, 30);
                padding-right: 6.9px;
            }
        }
        .price--button_single{
            text-align: center;
        }    
        .price--container-top{
            text-align: center;
            h1{
                font-size: 3em;  
            }    
        }
        button {
            font-family: 'Krub', sans-serif;
            border: none;
            cursor: pointer;
            letter-spacing: 0.2rem;
            text-transform: uppercase;

        }
        button:focus {
            outline: none;
        } 
        .draw-border {
            box-shadow: inset 0 0 0 4px $secondary-color;
            color: $font-color;
            font-weight: bolder;
            font-size: 1.2em;
            background-color: rgba(0, 4, 255, 0.034);
            transition: color 0.25s 0.0833333333s;
            position: relative;
            margin: 15px 0;
            max-width: 44%;
            height: 55px;
            width: 75%;
            
        }  
        .draw-border::before,
        .draw-border::after {
        border: 0 solid transparent;
        box-sizing: border-box;
        content: "";
        pointer-events: none;
        position: absolute;
        width: 0;
        height: 0;
        bottom: 0;
        right: 0;
        }

        .draw-border::before {
        border-bottom-width: 5px;
        border-left-width: 5px;
        }

        .draw-border::after {
        border-top-width: 5px;
        border-right-width: 5px;
        }

        .draw-border:hover {
        color: $base-color;
        background-color: #e53b6b36;
        }

        .draw-border:hover::before,
        .draw-border:hover::after {
        border-color: $base-color;
        transition: border-color 0s, width 0.25s, height 0.25s;
        width: 100%;
        height: 100%;
        }

        .draw-border:hover::before {
        transition-delay: 0s, 0s, 0.25s;
        }

        .draw-border:hover::after {
        transition-delay: 0s, 0.25s, 0s;
        }
        .price--container-bottom{
            text-align: center;
            margin-top: 69px;
            
        }
    

    }
}



.tos{
    font-family: $main-font;
    .tos--container{
        margin: 50px;
        line-height: 4.8em;
        h1{
            text-align: center;
            font-size: 3em;
            margin-top: 4em;
        }
        h3{
            margin-top: 5em;
            font-size: 1.2em;
            font-weight: bolder;
        }
    }
}


.about{
    border: 1px solid red;
    .about__container{
        border: 1px solid blue;
    }
}





















.footer{
    display: flex;
    justify-content: space-around;
    margin: 13em 0;
    .subTitle{
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 1.9em;
        margin:0 0 25px 0;
    }
    .footer__right{
        .footer__right--container{
            font-family: $main-font;
            display: flex;
            .footer__right--container--sub1{
                display: flex;
                flex-direction: column;
                padding: 25px;
                margin-right: 25px;

                a{
                    text-decoration: none;
                    color: rgb(51, 49, 49);
                    padding: 15px 0;
                    font-size: 1.2em;
                    opacity: 0;
                    &:hover{
                        transition: 0.3s ease all;
                        color: $base-color;
                        cursor: pointer;
                    }
                }
            }
            .footer__right--container--sub2{
                display: flex;
                flex-direction: column;
                padding: 25px;

                a{
                    text-decoration: none;
                    color: rgb(51, 49, 49);
                    padding: 15px 0;
                    font-size: 1.2em;
                    opacity: 0;
                    &:hover{
                        transition: 0.3s ease all;
                        color: $base-color;
                        cursor: pointer;
                    }
                }
                
            }
           
        }
    }
    .footer__left{
        .footer__left--container{
           .socials{
                text-align: center;
                margin-top: 4.20em;
                i{
                    padding: 0 0.5em;
                    font-size: 2.69em;
                    position: relative;
                    top: -50px;
                    opacity: 0;
                    &:hover{
                        transition: 0.3s ease all;
                        color: $base-color;
                        cursor: pointer;
                    }
                }
            } 
            h2{
                font-family: 'Audiowide', cursive;    
                font-size: 5em;
                margin: 0 auto;
            }
          
        }
    }
}


