$base-color: #e53b6a;
$secondary-color:#5ea9dd;
$font-color:rgb(20, 20, 20);

.bold{
    color: $base-color;
}
.big{
    font-size: 2.5em !important;
}
header{
    height: 100vh;
    margin: 0 25px;
    .header--nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10vh;
        .header--nav__logo{
            text-decoration: none;
            .header--nav__logo--title{
                font-family: 'Audiowide', cursive;            
                font-size: 2em;
                color: $font-color;
            }
        }
        .header--nav__links {
            height: 10vh;
            display: flex;
            li{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 10vh;
                &:hover{
                    background-color: $base-color;
                }
                a{
                    text-decoration: none;
                    padding: 0 15px;
                    font-family: 'Krub', sans-serif;
                    color: $font-color;
                    font-size: 1.2em;
                    text-transform: uppercase;
                    font-weight: bolder;
                    }
            }
        }

    }
    .header--content{
        display: flex;
        .header--content__img {
            flex: 2;
            display: flex;
            img{
                display: flex;
                width: 600px;
                margin: 0 auto;
            }
        }
        .header--content__desc {
            flex: 2;
            padding: 15px;
            margin-top: -55px;
            .header--content__desc--title{
                text-align: center;
                font-family: 'Audiowide', cursive;    
                font-size: 7em;        
                color: $font-color;
            }
            .header--content__desc--container{
                position: relative;
                top: -66px;
                width: 500px;
                margin: 0 auto;
                .header--content__desc--subtitle{
                    font-family: 'Krub', sans-serif;
                    font-size: 1.3em;
                }
            }
            .header--content__button--container{
                display: flex;
                flex-direction: column;
                position: relative;
                top:-50px;
                button {
                    font-family: 'Krub', sans-serif;
                    background: none;
                    border: none;
                    cursor: pointer;
                    letter-spacing: 0.2rem;
                    text-transform: uppercase;
                }
                button:focus {
                    outline: none;
                } 
                .draw-border {
                    box-shadow: inset 0 0 0 4px $secondary-color;
                    color: $font-color;
                    font-weight: bolder;
                    font-size: 1.2em;
                    background-color: rgba(0, 4, 255, 0.034);
                    transition: color 0.25s 0.0833333333s;
                    position: relative;
                    margin: 5px auto;
                    max-width: 69%;
                    height: 70px;
                    width: 88%;
                }  
                .draw-border::before,
                .draw-border::after {
                border: 0 solid transparent;
                box-sizing: border-box;
                content: "";
                pointer-events: none;
                position: absolute;
                width: 0;
                height: 0;
                bottom: 0;
                right: 0;
                }

                .draw-border::before {
                border-bottom-width: 5px;
                border-left-width: 5px;
                }

                .draw-border::after {
                border-top-width: 5px;
                border-right-width: 5px;
                }

                .draw-border:hover {
                color: $base-color;
                }

                .draw-border:hover::before,
                .draw-border:hover::after {
                border-color: $base-color;
                transition: border-color 0s, width 0.25s, height 0.25s;
                width: 100%;
                height: 100%;
                }

                .draw-border:hover::before {
                transition-delay: 0s, 0s, 0.25s;
                }

                .draw-border:hover::after {
                transition-delay: 0s, 0.25s, 0s;
                }
            }
        }
    }
}

